<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="css/stylesheet.css" rel="stylesheet">
    <script src="js/javascript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
h3 {text-align: center;}
a {text-align: center;}
</style>

</head>


<body>

  <form id="addTask" role="form" method="get" action="/added">

    <div id="myDIV" style="text-align:center" class="header">
        <input type="text"  name="taskName" placeholder="Enter Task Here...">
        <p style="text-align:left"><br /><br /><br />0/60 Characters</p>
    </div>


    <div class="slidecontainer">
  
      <h3 >How Important Is It?</h3>
      <input type="range" min="1" max="100" value="50" class="slider"  name="imRange">
      <p style="text-align:left;">
        Not Important
        <span style="float:right;">
        Very Important</span>
      </p>
    </div>

    <div class="slidecontainer">
      <h3 >How Urgent Is It?</h3>
      <input type="range" min="1" max="100" value="50" class="slider"  name="urRange">
      <p style="text-align:left;">
        Not Urgent
        <span style="float:right;">
        Very Urgent</span>
      </p>
    </div>
  
    <input type="submit" id="submitBtn" class="btn btn-default btn-lg active" value="Add New Task" style="text-align:center"></input>
            <!-- more links here -->
  </form>

  <form>
    <input type="button" value="Go back!" onclick="history.back()">
  </form>

          
    
</body>
</html>